= content_for :title do
	Toolbars markup

= content_for :application_styles do
  = stylesheet_link_tag "themes/coolstrap"
  %link{:href => "assets/stylesheets/customtheme.css", :rel => "stylesheet", :type => "text/css"}

= content_for :principal do
	%div.a{"role" => "main"}

		%header
			%a.onlyIcon
				%i.icon-arrow-left
			.control-group
				%a.is-active
					%span boton
				%a
					%span boton
				%a
					%span boton
			.flex
			%a
				%span Entrar

		%footer{"data-type" => "tabbar"}
			%a
				%i
				%span boton
			%a.is-active
				%i
				%span boton
			%a
				%i
				%span boton
			%a
				%i
				%span boton


		%section.current
			%nav{"data-type" => "toolbar"}
				.control-group
					%a
						%span boton
					%a.is-active
						%span boton
					%a
						%span boton
				%a.is-active
					%span boton

			-#%nav{"data-type" => "toolbar"}
				%input{:type => "search", :name => "txt"}
				%a search

			%article.scrollable{:id => "home", :class => "current starting"}

				= partial "examples/components/listview/simplelist"


	%aside{"data-type" => "onLeft"}

	%aside{"data-type" => "onRight"}

	%aside{"data-type" => "onTop"}

	%aside{"data-type" => "onBottom"}
= content_for :application_js do
	%script{:src => "app/app.js", :type=> "text/javascript"}
	%script{:src => "app/events.js", :type=> "text/javascript"}