@import "compass";
@import "../structure/utilities/variables";

$theme-header-color: #009AFF;
$theme-header-color2: #225233;

$theme-tabbar-color: #2B3035;
$theme-toolbar-color: #B4BEC5;
$theme-border-radius: 5px;

$theme-base-color: #333;


article {
  background-color: lighten($theme-base-color,80%);
}

footer {
  color: #FFF;
}

footer#{$isTabbar} {
  a:not(.onlyIcon) {
    @include border-radius(0px);
  }
  a {
    margin: 0px;
    border: 0 none;
    color: lighten($theme-base-color,50%);
    * { color: lighten($theme-base-color,50%); }
    &.is-active {
      background-color: darken($theme-base-color,1%);
      border: 0 none;
      color: lighten($theme-base-color,70%);
      * { color: lighten($theme-base-color,70%); }
    }
  }
}

aside {

  nav {
    background-color: darken($theme-base-color,5%);
    border-color: darken($theme-base-color,5%);
  }

  nav#{$isToolbar} {
    a {
      border: 0 none;
      @include border-radius(20px);
      color: lighten($theme-base-color,0%);
      * { color: lighten($theme-base-color,0%); }
    }
  }


  nav#{$isTabbar} {
    margin-top: -5px;
    a {
      margin: 5px;
      background-color: darken($theme-base-color,2%);
      border: 1px solid darken($theme-base-color,0%);
      color: lighten($theme-base-color,50%);
      * { color: lighten($theme-base-color,50%); }
      &.is-active {
        background-color: lighten($theme-base-color,10%);
        border: 1px solid lighten($theme-base-color,15%);
        color: lighten($theme-base-color,70%);
        * { color: lighten($theme-base-color,70%); }
      }
    }
  }


  header {
    a.is-active {
      background-color: #000;
    }
  }


  background-color: #333;
  input {
    @include border-radius(20px);
    background-color: lighten($theme-base-color,10%);
    color: lighten($theme-base-color,60%);
    padding: 0 10px;
  }

  header {
    background-color: darken($theme-base-color,5%);
    border-top: 1px solid lighten($theme-base-color,10%) !important;
  }

  .badge {
    background-color: lighten($theme-base-color,10%);
    color: lighten($theme-base-color,60%);
  }

  ul[data-type="listview"] {
    color: lighten($theme-base-color,60%);
    a { color: lighten($theme-base-color,60%); }
    i {
      width: 18px;
      text-align: center;
      font-size: 17px;
    }
    li {
      background-color: #333;
      border-top: 1px solid lighten($theme-base-color,5%);
      border-bottom: 1px solid darken($theme-base-color,5%);
      margin: 0;

      .title { color: #DDD; }
      &.is-active {
        background-color: darken($theme-base-color,2%);
        border-color: darken($theme-base-color,15%);
      }
      &.list-divider {
        background-color: lighten($theme-base-color,5%);
        border-color: lighten($theme-base-color,2%);
      }
    }
    .aside:last-child i {
      color: lighten($theme-base-color,15%)
    }
  }

  .list-divider {
    font-weight: bold;
    color: lighten($theme-base-color,25%);
  }
}




/* Dialogs */
div[role="dialog"] {
  color: #CCC;
  background-color: darken($theme-base-color,60%);
  background-color: darken($theme-base-color,60%);
  a {
    background-color: #444;
    color: #DDD;
  }
}
div#{$isModal} {
  padding: 0 10px;
  .close {
    @include border-radius(20px);
    border: 0px none;
    background: darken($theme-base-color,20%);
    font-size: 25px;
    padding: 3px;
    i {
      top: 2px;
      position: relative;
    }
  }
}



